header {
  background-color: rgb(58, 58, 242);
  color: white;
  padding: 15px;
  text-align: center;
  font-size: larger;
  border: black 1px solid
}

aside {
  width: 300px;
  padding-left: 15px;
}

#history button {
  margin-top: 8px; 
  width: 200px;
}

#search-button {
  margin-top: 2.5px; 
  width: 208px;
  background-color: rgb(58, 58, 242);
  color: white;
}

#search-input {
  margin-top: 5px; 
  width: 200px;
}

#dashed-line {
  margin-top: 15px;
  font-weight: bold;
}

.row-container {
  display: flex;
  align-items: flex-start; 
  padding-bottom: 5px;
  margin-right: 30px;
}

.whole-page{
  display: flex;
}

.searchedforecast {
  padding: 15px;
  border: black 1px solid;
  width: 1200px;
  margin-top: 15px;
}

.weather-header {
  display: flex;
  align-items: center;
}

.weather-icon {
  margin-right: 10px;
}

#fivedayforcast {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
  padding: 5px;
}

#fivedayforcast section {
  width: 200px; 
  padding: 5px;
  text-align: center; 
}

.city-date {
  font-size: x-large;
  font-weight: bold;
}


#date-0,
#date-1,
#date-2,
#date-3,
#date-4 {
  font-size: x-large;
  font-weight: bold;
}

